*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
      font-family: "Roboto Slab", serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    }
      
    
header {
    display: flex;
    gap: 30px;
    font-size: 20px;
    margin-top: 50px;
   margin-left: 440px;
   position: sticky;
 color:rgb(249, 249, 250);
 z-index: 1;
 cursor: pointer;

}


article {

    width: 600px;
    z-index: 1;
   margin-top: 210px;
   margin-left: 160px; 
   padding-bottom: 70px;
   color: rgb(250, 250, 250);
 

}
.titulo {
    font-size: 40px;
    margin-bottom: 20px;
    
}


.inicio {
    margin-top: 140px;
    margin-left: 120px;
    z-index: 1;
    color: rgb(250, 250, 250) ;
    background-color:black;
    width: 300px;
    opacity: 0.8;
    padding: 20px;
    border-radius: 50px;
    height: 420px;
}

.inscreva {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.primeira-parte {

    display: flex;
    position: sticky;
    z-index: 1;
  
   
}

.inic {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

.botoes {
margin-left: 25px;

}

.botao{
    display: block;
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgba(75,125,14,1) 0%, rgba(169,187,15,0.711922268907563) 84%);
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
color: rgb(255, 255, 255);
text-transform: uppercase;
width: 220px;
border: none;
cursor: pointer;
}

button:hover {

    background-color: #38b000;

}
a:hover {
    background-color: #4B7D0E;
border-radius: 10px;
}

.inic:hover {
    color: #4B7D0E;
}

.titulo:hover {

    color: #4B7D0E;
}

video {
   
    margin-top: -737px;
    width: 1343px;
   
   height: 840px;

}

.trans {
   
    height: 745px;
    width: 1345px;
    background: linear-gradient(90deg, rgba(8, 8, 8, 1) 0%, rgba(0, 0, 0, 0.6895133053221288) 35%, rgba(0, 0, 0, 0.5214460784313726) 100%);
    position: relative;
margin-top: -790px;
margin-bottom: 60px;
display: flex;
}



.conheça {
    font-size: 16px;
    width: 1200px;
    
margin-left: -40px;

   
}
.sub1 {
    margin-bottom: 15px;
    margin-left: 200px;
  text-align: center;
 
}
.paragrafo1 {
    margin-left: 420px;
    margin-top: 100px;
    font-size: 20px;
    
}

.img1{
    width: 170px;
    border-radius: 100px;
    margin-left:190px ;
    margin-top: -120px;
}
.previsao {
    font-size: 16px;
    width: 1180px;
    display: inline-block;
margin-left: -40px;
   
}

.sub2 {
    margin-top: 30px;
    margin-bottom: 15px;
   margin-left: 485px;
    display: inline-block;
    text-align: center;
}
.paragrafo2 {
    margin-left: 420px;
    margin-top: 40px;
    font-size: 20px;
 
}

.img2{
    width: 170px;
    border-radius: 100px;
    margin-left:190px ;
    margin-top: -160px;
    display: inline-block;
    
}

.analise {
    font-size: 16px;
    width: 1210px;
    display: inline-block;
margin-left: -40px;
   
}
.sub3{
    margin-top: 35px;
    margin-bottom: 15px;
   margin-left: 430px;
    display: inline-block;
    text-align: center;
}
.paragrafo3 {
    margin-left: 455px;
    margin-top: 50px;
    font-size: 20px;
 
}

.img3{
    width: 170px;
    border-radius: 100px;
    margin-left:227px ;
    margin-top: -160px;
    display: inline-block;

}


.visao {
    font-size: 16px;
    width: 1280px;
    display: inline-block;
margin-left: -40px;
   
}
.sub4{
    margin-top: 35px;
    margin-bottom: 15px;
   margin-left: 440px;
    display: inline-block;
    text-align: center;
}
.paragrafo4 {
    margin-left: 490px;
    margin-top: 50px;
    font-size: 20px;
 
}

.img4{
    width: 170px;
    border-radius: 100px;
    margin-left:266px ;
    margin-top: -160px;
    display: inline-block;
   
}

.catalogo {
    font-size: 16px;
    width: 1280px;
    display: inline-block;
margin-left: -40px;
   
}
.sub5{
    margin-top: 35px;
    margin-bottom: 15px;
   margin-left: 660px;
    display: inline-block;
    text-align: center;
}
.paragrafo5 {
    margin-left: 530px;
    margin-top: 50px;
    font-size: 20px;
 
}

.img5{
    width: 170px;
    border-radius: 100px;
    margin-left:300px ;
    margin-top: -160px;
    display: inline-block;
   
}

.semente{
    font-size: 16px;
    width: 1290px;
    display: inline-block;
margin-left: -40px;
margin-top: 10px;
   
}

.sementes 
{
    margin-top: -20px;
  
}
.sub6{
    margin-top: 35px;
    margin-bottom: 15px;
   margin-left: 740px;
    display: inline-block;
    text-align: center;
}
.paragrafo6 {
    margin-left: 560px;
    margin-top: 30px;
    font-size: 20px;
 
}

.img6{
    width: 170px;
    border-radius: 100px;
    margin-left:336px ;
    margin-top: -180px;
    display: inline-block;
    
   
}

.conect{
    font-size: 16px;
    width: 1330px;
    display: inline-block;
margin-left: -20px;
margin-top: 10px;
   
}
.sub7{
    margin-top: 45px;
    margin-bottom: 15px;
   margin-left:490px;
    display: inline-block;
    text-align: center;
}
.paragrafo7 {
    margin-left: 575px;
    margin-top: 30px;
    font-size: 20px;
 
}

.img7{
    width: 170px;
    border-radius: 100px;
    margin-left:355px ;
    margin-top: -150px;
    display: inline-block;
    
   
}

.junte-se{
    font-size: 16px;
    width: 1600px;
    display: inline-block;
margin-left:-250px;
margin-top: 50px;
margin-bottom: 100px;
text-align: center;
color: black;
   
}
.sub8{
    margin-top: 35px;
    margin-bottom: 15px;
   margin-left:530px;
    display: inline-block;
    text-align: center;
}
.paragrafo8 {
    margin-left: 553px;
    margin-top: 30px;
    font-size: 20px;
 
}
.mascara {
    height: 1305px;
    width: 1345px;
    
    background: black;
    position: relative;
display: flex;
z-index: -1;
margin-top: -60px;
   
}

.caixao {
   
   
    margin-top: -1200px;
    color: rgb(255, 255, 255);
}

.mascara2 {
    height: 950px;
    width: 1425px;
    background:#4B7D0E;
    position: relative;
display: flex;
z-index: -1;
margin-top:20px ;
}